{% extends "base.html" %}
{% block title %}
    Creation
{% endblock %}
{% block content %}
<form href="/news" class="creat_form" method="POST">
    {% csrf_token %}
    <input class="creat_header" type="text" name="header" placeholder="Header">
    <textarea class="creat_text" name="main_text" placeholder="Text of the news"></textarea>
    <button class="creat_button">Creat</button>
</form>

<style  type='text/css'>
    .creat_header {
        width: 94%;
    }
    .creat_text {
        width: 94%;
        height: 60%;

    }
    .creat_form {
        height: 90%;
    }
    .creat_button {
        width: 50px;
    }
</style>
{% endblock %}


